n8n/workflows/02-upload-approval-handler.json
{
  "name": "02 — Upload Approval: Handle Button Click",
  "nodes": [
    {
      "parameters": {
        "updates": ["callback_query"],
        "additionalFields": {}
      },
      "id": "a2000001-0000-0000-0000-000000000001",
      "name": "Telegram Trigger — Button Click",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "telegram-upload-callback"
    },
    {
      "parameters": {
        "jsCode": "// Telegram callback_query payload\nconst update = $input.first().json;\nconst cq = update.callback_query;\n\nif (!cq || !cq.data) {\n  return [];\n}\n\n// Filter: only handle upload approve/reject callbacks from this bot\nif (!cq.data.startsWith('approve:') && !cq.data.startsWith('reject:')) {\n  return [];\n}\n\nconst [action, recordId] = cq.data.split(':');\n\nreturn [{\n  json: {\n    action,\n    recordId,\n    callbackQueryId: cq.id,\n    chatId: cq.message.chat.id,\n    messageId: cq.message.message_id,\n    originalText: cq.message.text || ''\n  }\n}];"
      },
      "id": "a2000001-0000-0000-0000-000000000002",
      "name": "Parse Callback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.action }}",
              "operation": "equals",
              "value2": "approve"
            }
          ]
        }
      },
      "id": "a2000001-0000-0000-0000-000000000003",
      "name": "Approve or Reject?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/notes_submissions?id=eq.{{ $json.recordId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}"},
            {"name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"},
            {"name": "Content-Type", "value": "application/json"},
            {"name": "Prefer", "value": "return=representation"}
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {"verified": true},
        "options": {}
      },
      "id": "a2000001-0000-0000-0000-000000000004",
      "name": "Supabase — Set Verified",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 160]
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/notes_submissions?id=eq.{{ $json.recordId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}"},
            {"name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"},
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "options": {}
      },
      "id": "a2000001-0000-0000-0000-000000000005",
      "name": "Supabase — Delete Rejected",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 440]
    },
    {
      "parameters": {
        "jsCode": "// Build the answer + message edit payloads for the approve path\nconst item = $input.first().json;\nreturn [{\n  json: {\n    action: 'approve',\n    callbackQueryId: item.callbackQueryId,\n    chatId: item.chatId,\n    messageId: item.messageId,\n    answerText: '✅ Approved — resource is now public.',\n    editText: item.originalText + '\\n\\n✅ *APPROVED* by admin.'\n  }\n}];"
      },
      "id": "a2000001-0000-0000-0000-000000000006",
      "name": "Build Approve Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 160]
    },
    {
      "parameters": {
        "jsCode": "// Build the answer + message edit payloads for the reject path\nconst item = $input.first().json;\nreturn [{\n  json: {\n    action: 'reject',\n    callbackQueryId: item.callbackQueryId,\n    chatId: item.chatId,\n    messageId: item.messageId,\n    answerText: '❌ Rejected — upload deleted.',\n    editText: item.originalText + '\\n\\n❌ *REJECTED* — upload deleted.'\n  }\n}];"
      },
      "id": "a2000001-0000-0000-0000-000000000007",
      "name": "Build Reject Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 440]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/answerCallbackQuery",
        "sendBody": true,
        "contentType": "json",
        "body": {
          "callback_query_id": "={{ $json.callbackQueryId }}",
          "text": "={{ $json.answerText }}",
          "show_alert": false
        },
        "options": {}
      },
      "id": "a2000001-0000-0000-0000-000000000008",
      "name": "Answer Callback — Approve",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 160]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/answerCallbackQuery",
        "sendBody": true,
        "contentType": "json",
        "body": {
          "callback_query_id": "={{ $json.callbackQueryId }}",
          "text": "={{ $json.answerText }}",
          "show_alert": false
        },
        "options": {}
      },
      "id": "a2000001-0000-0000-0000-000000000009",
      "name": "Answer Callback — Reject",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 440]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/editMessageText",
        "sendBody": true,
        "contentType": "json",
        "body": {
          "chat_id": "={{ $json.chatId }}",
          "message_id": "={{ $json.messageId }}",
          "text": "={{ $json.editText }}",
          "parse_mode": "Markdown",
          "reply_markup": {"inline_keyboard": []}
        },
        "options": {}
      },
      "id": "a2000001-0000-0000-0000-000000000010",
      "name": "Edit Message — Approve",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1540, 160]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/editMessageText",
        "sendBody": true,
        "contentType": "json",
        "body": {
          "chat_id": "={{ $json.chatId }}",
          "message_id": "={{ $json.messageId }}",
          "text": "={{ $json.editText }}",
          "parse_mode": "Markdown",
          "reply_markup": {"inline_keyboard": []}
        },
        "options": {}
      },
      "id": "a2000001-0000-0000-0000-000000000011",
      "name": "Edit Message — Reject",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1540, 440]
    }
  ],
  "connections": {
    "Telegram Trigger — Button Click": {
      "main": [[{"node": "Parse Callback", "type": "main", "index": 0}]]
    },
    "Parse Callback": {
      "main": [[{"node": "Approve or Reject?", "type": "main", "index": 0}]]
    },
    "Approve or Reject?": {
      "main": [
        [{"node": "Supabase — Set Verified", "type": "main", "index": 0}],
        [{"node": "Supabase — Delete Rejected", "type": "main", "index": 0}]
      ]
    },
    "Supabase — Set Verified": {
      "main": [[{"node": "Build Approve Response", "type": "main", "index": 0}]]
    },
    "Supabase — Delete Rejected": {
      "main": [[{"node": "Build Reject Response", "type": "main", "index": 0}]]
    },
    "Build Approve Response": {
      "main": [[{"node": "Answer Callback — Approve", "type": "main", "index": 0}]]
    },
    "Build Reject Response": {
      "main": [[{"node": "Answer Callback — Reject", "type": "main", "index": 0}]]
    },
    "Answer Callback — Approve": {
      "main": [[{"node": "Edit Message — Approve", "type": "main", "index": 0}]]
    },
    "Answer Callback — Reject": {
      "main": [[{"node": "Edit Message — Reject", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["diploma-dost"],
  "triggerCount": 1,
  "versionId": "1"
}
