n8n/workflows/03-cetcell-dse-monitor.json
{
  "name": "03 — CET Cell DSE Schedule Monitor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "30 3 * * *"
            }
          ]
        }
      },
      "id": "a3000001-0000-0000-0000-000000000001",
      "name": "Daily 9AM IST",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://cetcell.mahacet.org/wp-json/wp/v2/pages/27513",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "User-Agent", "value": "Diploma-Dost-Monitor/1.0 (+https://diploma-dost.vercel.app)"}
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "a3000001-0000-0000-0000-000000000002",
      "name": "Fetch CET Cell WP API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "// Compare 'modified' timestamp with last known value.\n// If changed, extract DSE schedule table rows from rendered HTML.\n\nconst data = $input.first().json;\nconst staticData = $getWorkflowStaticData('global');\n\nconst currentModified = data.modified || '';\nconst lastModified = staticData.lastModified || '';\n\n// No change — stop execution\nif (currentModified === lastModified && lastModified !== '') {\n  return [];\n}\n\n// Page has changed (or first run) — update stored timestamp\nstaticData.lastModified = currentModified;\n\nconst html = (data.content && data.content.rendered) || '';\nconst pageUrl = (data.link) || 'https://cetcell.mahacet.org/cap-_2026-27/';\n\n// ─── Try to parse a schedule table ─────────────────────────────────────────\n// CET Cell typically uses: <table><tr><td>Activity</td><td>Dates</td></tr>...</table>\n// We look for rows after any DSE-related heading.\n\nconst scheduleRows = [];\n\n// Find <table> elements in the HTML\nconst tableRegex = /<table[^>]*>([\\s\\S]*?)<\\/table>/gi;\nlet tableMatch;\nconst allTables = [];\nwhile ((tableMatch = tableRegex.exec(html)) !== null) {\n  allTables.push(tableMatch[1]);\n}\n\n// Look for a table that has date-like content (day/month patterns)\nconst datePattern = /\\d{1,2}[\\s\\/\\-](?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec|\\d{2})[\\s\\/\\-]\\d{2,4}/i;\n\nfor (const tableHtml of allTables) {\n  if (!datePattern.test(tableHtml)) continue;\n\n  // Extract rows\n  const rowRegex = /<tr[^>]*>([\\s\\S]*?)<\\/tr>/gi;\n  let rowMatch;\n  let sortOrder = 0;\n\n  while ((rowMatch = rowRegex.exec(tableHtml)) !== null) {\n    const rowHtml = rowMatch[1];\n    // Extract cell text\n    const cells = [];\n    const cellRegex = /<t[dh][^>]*>([\\s\\S]*?)<\\/t[dh]>/gi;\n    let cellMatch;\n    while ((cellMatch = cellRegex.exec(rowHtml)) !== null) {\n      const cellText = cellMatch[1].replace(/<[^>]+>/g, '').replace(/&amp;/g, '&').replace(/&nbsp;/g, ' ').replace(/\\s+/g, ' ').trim();\n      cells.push(cellText);\n    }\n\n    if (cells.length >= 2 && cells[0] && !cells[0].match(/^(sr\\.?\\s*no|activity|particulars|dates?)$/i)) {\n      scheduleRows.push({\n        activity: cells[0],\n        date_display: cells[1] || '',\n        start_date: cells[2] || '',\n        end_date: cells[3] || '',\n        link: null,\n        status: 'tba',\n        sort_order: sortOrder++,\n        source_url: pageUrl,\n        scraped_at: new Date().toISOString()\n      });\n    }\n  }\n\n  if (scheduleRows.length > 0) break;\n}\n\n// ─── Check for DSE-specific content ─────────────────────────────────────────\nconst dseIndex = html.toLowerCase().indexOf('direct second year');\nconst hasDseContent = dseIndex !== -1;\nconst dseExcerpt = hasDseContent\n  ? html.slice(Math.max(0, dseIndex - 50), dseIndex + 400).replace(/<[^>]+>/g, '').replace(/\\s+/g, ' ').trim()\n  : 'No DSE-specific content found yet.';\n\nreturn [{\n  json: {\n    changed: true,\n    currentModified,\n    lastModified: lastModified || '(first run)',\n    pageUrl,\n    scheduleRowsFound: scheduleRows.length,\n    scheduleRows,\n    hasDseContent,\n    dseExcerpt: dseExcerpt.slice(0, 300)\n  }\n}];"
      },
      "id": "a3000001-0000-0000-0000-000000000003",
      "name": "Detect Change + Parse Schedule",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.scheduleRowsFound }}",
              "operation": "largerThan",
              "value2": 0
            }
          ]
        }
      },
      "id": "a3000001-0000-0000-0000-000000000004",
      "name": "Has Schedule Rows?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "jsCode": "// Upsert each schedule row into cap_dse_schedule.\n// We DELETE existing rows first (full refresh), then INSERT new ones.\n// Returns each row as a separate item for the HTTP Request node.\nconst rows = $input.first().json.scheduleRows;\nreturn rows.map((row) => ({ json: row }));"
      },
      "id": "a3000001-0000-0000-0000-000000000005",
      "name": "Split Schedule Rows",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 160]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/cap_dse_schedule",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}"},
            {"name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"},
            {"name": "Content-Type", "value": "application/json"},
            {"name": "Prefer", "value": "resolution=merge-duplicates"}
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "activity": "={{ $json.activity }}",
          "date_display": "={{ $json.date_display }}",
          "start_date": "={{ $json.start_date }}",
          "end_date": "={{ $json.end_date }}",
          "status": "={{ $json.status }}",
          "sort_order": "={{ $json.sort_order }}",
          "source_url": "={{ $json.source_url }}",
          "scraped_at": "={{ $json.scraped_at }}"
        },
        "options": {}
      },
      "id": "a3000001-0000-0000-0000-000000000006",
      "name": "Upsert to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 160]
    },
    {
      "parameters": {
        "jsCode": "// Prepare single Telegram message summarising what changed.\n// Works for both cases: schedule found or just a content change.\nconst item = $input.first().json;\n\nconst schedFound = item.scheduleRowsFound > 0;\nconst lines = [\n  `🚨 *CET Cell Page Updated*`,\n  ``,\n  `📅 Modified: \\`${item.currentModified}\\``,\n  `(was: \\`${item.lastModified}\\`)`,\n  ``,\n  schedFound\n    ? `✅ *${item.scheduleRowsFound} schedule rows extracted* and saved to Supabase.`\n    : `⚠️ Page changed but no schedule table found yet.`,\n  ``,\n  item.hasDseContent ? `DSE excerpt:\\n_${item.dseExcerpt}_` : `ℹ️ No DSE-specific content yet.`,\n  ``,\n  `🔗 ${item.pageUrl}`\n];\n\nreturn [{ json: { text: lines.join('\\n') } }];"
      },
      "id": "a3000001-0000-0000-0000-000000000007",
      "name": "Build Telegram Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 440]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "contentType": "json",
        "body": {
          "chat_id": "={{ $env.TELEGRAM_CHAT_ID }}",
          "text": "={{ $json.text }}",
          "parse_mode": "Markdown",
          "disable_web_page_preview": false
        },
        "options": {}
      },
      "id": "a3000001-0000-0000-0000-000000000008",
      "name": "Send Telegram Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 440]
    }
  ],
  "connections": {
    "Daily 9AM IST": {
      "main": [[{"node": "Fetch CET Cell WP API", "type": "main", "index": 0}]]
    },
    "Fetch CET Cell WP API": {
      "main": [[{"node": "Detect Change + Parse Schedule", "type": "main", "index": 0}]]
    },
    "Detect Change + Parse Schedule": {
      "main": [[{"node": "Has Schedule Rows?", "type": "main", "index": 0}]]
    },
    "Has Schedule Rows?": {
      "main": [
        [{"node": "Split Schedule Rows", "type": "main", "index": 0}],
        [{"node": "Build Telegram Message", "type": "main", "index": 0}]
      ]
    },
    "Split Schedule Rows": {
      "main": [[{"node": "Upsert to Supabase", "type": "main", "index": 0}]]
    },
    "Upsert to Supabase": {
      "main": [[{"node": "Build Telegram Message", "type": "main", "index": 0}]]
    },
    "Build Telegram Message": {
      "main": [[{"node": "Send Telegram Alert", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["diploma-dost"],
  "triggerCount": 1,
  "versionId": "1"
}
