n8n/workflows/04-msbte-notice-watcher-configured.json
{
  "name": "04 — MSBTE Notice Watcher",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 4 * * *"
            }
          ]
        }
      },
      "id": "a4000001-0000-0000-0000-000000000001",
      "name": "Daily 9:30AM IST",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://msbte.ac.in/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "User-Agent", "value": "Diploma-Dost-Monitor/1.0 (+https://diploma-dost.vercel.app)"},
            {"name": "Accept", "value": "text/html,application/xhtml+xml"}
          ]
        },
        "options": {
          "timeout": 30000,
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "a4000001-0000-0000-0000-000000000002",
      "name": "Fetch MSBTE Homepage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "// Hash the full MSBTE homepage to detect any change.\n// Simpler than parsing notice structure which varies by site version.\nconst html = $input.first().json.data || '';\nconst staticData = $getWorkflowStaticData('global');\n\nlet hash = 0;\nconst str = String(html);\nfor (let i = 0; i < str.length; i++) {\n  hash = (Math.imul(31, hash) + str.charCodeAt(i)) | 0;\n}\nconst currentHash = String(hash);\nconst lastHash = staticData.lastPageHash || '';\n\nif (currentHash === lastHash && lastHash !== '') {\n  return [];\n}\n\nstaticData.lastPageHash = currentHash;\n\nreturn [{\n  json: {\n    changed: true,\n    newNotices: [],\n    allNotices: [],\n    newNoticeCount: 0,\n    totalFound: 0\n  }\n}];"
      },
      "id": "a4000001-0000-0000-0000-000000000003",
      "name": "Extract & Diff Notices",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst notices = item.newNotices && item.newNotices.length > 0 ? item.newNotices : (item.allNotices || []).slice(0, 5);\nconst header = item.newNotices && item.newNotices.length > 0\n  ? '📢 <b>' + item.newNotices.length + ' new MSBTE notice(s)</b>'\n  : '📋 <b>MSBTE page changed</b> (' + (item.totalFound || 0) + ' notices found)';\n\nconst noticeLines = notices.map((n) => {\n  const href = n.href.startsWith('http') ? n.href : 'https://msbte.ac.in' + n.href;\n  return '• <a href=\\'' + href + '\\'>' + n.text.slice(0, 80) + '</a>';\n}).join('\\\\n');\n\nconst text = [header, '', noticeLines, '', \"🔗 <a href='https://msbte.ac.in/'>View all notices</a>\"].join('\\\\n');\n\nreturn [{ json: { text } }];"
      },
      "id": "a4000001-0000-0000-0000-000000000004",
      "name": "Build Telegram Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8651091110:AAF8u8yRG3i5XPzKFwSDf9NzjUijdnFXBVI/sendMessage",
        "sendBody": true,
        "contentType": "json",
        "body": {
          "chat_id": "1317446273",
          "text": "={{ $json.text }}",
          "parse_mode": "HTML",
          "disable_web_page_preview": true
        },
        "options": {}
      },
      "id": "a4000001-0000-0000-0000-000000000005",
      "name": "Send Telegram Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 300]
    }
  ],
  "connections": {
    "Daily 9:30AM IST": {
      "main": [[{"node": "Fetch MSBTE Homepage", "type": "main", "index": 0}]]
    },
    "Fetch MSBTE Homepage": {
      "main": [[{"node": "Extract & Diff Notices", "type": "main", "index": 0}]]
    },
    "Extract & Diff Notices": {
      "main": [[{"node": "Build Telegram Message", "type": "main", "index": 0}]]
    },
    "Build Telegram Message": {
      "main": [[{"node": "Send Telegram Alert", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["diploma-dost"],
  "triggerCount": 1,
  "versionId": "2"
}
