n8n/workflows/04-msbte-notice-watcher.json
{
  "name": "04 — MSBTE Notice Watcher",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 4 * * *"
            }
          ]
        }
      },
      "id": "a4000001-0000-0000-0000-000000000001",
      "name": "Daily 9:30AM IST",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://msbte.org.in/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "User-Agent", "value": "Diploma-Dost-Monitor/1.0 (+https://diploma-dost.vercel.app)"},
            {"name": "Accept", "value": "text/html,application/xhtml+xml"}
          ]
        },
        "options": {
          "timeout": 30000,
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "a4000001-0000-0000-0000-000000000002",
      "name": "Fetch MSBTE Homepage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extract notices/announcements from MSBTE page.\n// Hash current content and compare with last run.\n\nconst html = $input.first().json || '';\nconst staticData = $getWorkflowStaticData('global');\n\n// ─── Extract notice links and headings ────────────────────────────────────\nconst notices = [];\n\n// Pattern 1: anchor tags that look like notices\nconst linkRegex = /<a[^>]+href=[\"']([^\"']*)[\"'][^>]*>([^<]{10,200})<\\/a>/gi;\nlet linkMatch;\nwhile ((linkMatch = linkRegex.exec(html)) !== null) {\n  const href = linkMatch[1];\n  const text = linkMatch[2].replace(/\\s+/g, ' ').trim();\n  // Keep entries that look like notices (contain keywords or link to PDFs)\n  if (\n    text.length > 15 &&\n    (\n      /circular|notice|exam|result|timetable|schedule|notification|important|admit|hall ticket|merit|registration/i.test(text) ||\n      href.includes('.pdf') ||\n      href.includes('notification')\n    )\n  ) {\n    notices.push({ text, href });\n  }\n}\n\n// Deduplicate by text\nconst seen = new Set();\nconst uniqueNotices = notices.filter((n) => {\n  if (seen.has(n.text)) return false;\n  seen.add(n.text);\n  return true;\n}).slice(0, 15); // top 15\n\n// ─── Hash the notice list ──────────────────────────────────────────────────\nconst noticeSignature = uniqueNotices.map((n) => n.text).join('|');\n\n// Simple 32-bit hash\nlet hash = 0;\nfor (let i = 0; i < noticeSignature.length; i++) {\n  const c = noticeSignature.charCodeAt(i);\n  hash = (Math.imul(31, hash) + c) | 0;\n}\nconst currentHash = String(hash);\nconst lastHash = staticData.lastNoticeHash || '';\n\nif (currentHash === lastHash && lastHash !== '') {\n  // No change\n  return [];\n}\n\n// Changed — update stored hash\nstaticData.lastNoticeHash = currentHash;\n\n// Find which notices are new (simple diff: ones not in previous text block)\nconst lastTexts = (staticData.lastNoticeTexts || '').split('||');\nconst newNotices = uniqueNotices.filter((n) => !lastTexts.includes(n.text));\nstaticData.lastNoticeTexts = uniqueNotices.map((n) => n.text).join('||');\n\nreturn [{\n  json: {\n    changed: true,\n    newNoticeCount: newNotices.length,\n    newNotices,\n    allNotices: uniqueNotices,\n    totalFound: uniqueNotices.length\n  }\n}];"
      },
      "id": "a4000001-0000-0000-0000-000000000003",
      "name": "Extract & Diff Notices",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst notices = item.newNotices.length > 0 ? item.newNotices : item.allNotices.slice(0, 5);\nconst header = item.newNotices.length > 0\n  ? `📢 *${item.newNotices.length} new MSBTE notice(s)*`\n  : `📋 *MSBTE page changed* (${item.totalFound} notices found)`;\n\nconst noticeLines = notices.map((n) => {\n  const href = n.href.startsWith('http') ? n.href : `https://msbte.org.in${n.href}`;\n  return `• [${n.text.slice(0, 80)}](${href})`;\n}).join('\\n');\n\nconst text = [\n  header,\n  ``,\n  noticeLines,\n  ``,\n  `🔗 [View all notices](https://msbte.org.in/)`\n].join('\\n');\n\nreturn [{ json: { text } }];"
      },
      "id": "a4000001-0000-0000-0000-000000000004",
      "name": "Build Telegram Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "contentType": "json",
        "body": {
          "chat_id": "={{ $env.TELEGRAM_CHAT_ID }}",
          "text": "={{ $json.text }}",
          "parse_mode": "Markdown",
          "disable_web_page_preview": false
        },
        "options": {}
      },
      "id": "a4000001-0000-0000-0000-000000000005",
      "name": "Send Telegram Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 300]
    }
  ],
  "connections": {
    "Daily 9:30AM IST": {
      "main": [[{"node": "Fetch MSBTE Homepage", "type": "main", "index": 0}]]
    },
    "Fetch MSBTE Homepage": {
      "main": [[{"node": "Extract & Diff Notices", "type": "main", "index": 0}]]
    },
    "Extract & Diff Notices": {
      "main": [[{"node": "Build Telegram Message", "type": "main", "index": 0}]]
    },
    "Build Telegram Message": {
      "main": [[{"node": "Send Telegram Alert", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["diploma-dost"],
  "triggerCount": 1,
  "versionId": "1"
}
